@import "tailwindcss" source("../");

@theme {
  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
